#cards {

    display: grid;

    grid-template-columns:
        1fr 1fr 1fr;

    gap: 20px;

}

#cards section {

    background: white;

    padding: 20px;

    border-radius: 10px;
}

.list {

    grid-template-columns:
        1fr;   }