/* =========================================
   RESPONSIVE (ONLY MEDIA QUERY)
========================================= */

@media (min-width:600px) {

    /* HEADER */
    header {
        padding: 10px;
    }

    .site-name {
        font-size: 1.5rem;
    }

    /* HERO */
    .hero-card {
        bottom: 20px;
        right: 40px;
        padding: 10px 15px;
    }

    .hero img {
        height: 400px;
    }

    /* HAMBURGER */
    #hamburger {
        display: none;
    }

    /* NAVIGATION */
    .navigation {
        display: flex;
        flex-direction: row;
        position: relative;
        background: none;
        padding: 0;
        justify-content: flex-end;
        box-shadow: none;
        border: none;
        width: auto;
        top: auto;
        left: auto;
    }

    .navigation a {
        transition: all 0.3s ease;
    }

    /* MEMBERS */
    #members.list section {
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    /* SPOTLIGHT */
    #spotlight-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }

    .spotlight-card .card-details {
        grid-template-columns: 1fr 1fr;
    }

    /* FOOTER */
    footer {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        justify-content: center;
        text-align: center;
    }

    .site-info {
        justify-self: center;
    }

    .site-project {
        justify-self: start;
    }

    .social-media {
        justify-self: center;
        gap: 15px;
    }

    /* FORM */
    form {
        max-width: 600px;
    }

    fieldset {
        padding: 2rem;
    }

    legend {
        font-size: 1.4rem;
    }

    input,
    textarea,
    select {
        font-size: 1rem;
    }

    /* HEADINGS */
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .form-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        max-width: 800px;
        gap: 20px;
    }

}