/* LARGE VIEW  */
@media (min-width:600px) {

    header,
    .navigation,
    main,
    footer {
        max-width: 800px;
        margin: auto;
    }

    /* desktop nav */

    .menu {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation li {
        flex: 1;
        text-align: center;
    }

    /* about grid  */
    .about-student {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* gap: 12px; */
    }

    .student {
        grid-column: 2;
    }

    .about-student h3 {
        grid-column: 1 / -1;
    }

    .about {
        grid-column: 1;
    }

    .about-student h2 {
        grid-column: 1 / -1;
    }

    /* course grid  */

    .card-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .categories button {
        padding: 10px 50px;
    }
}