:root {

    --primary: #3D405B;
    --accent: #ff4500;
    --light: #ffffff;
    --gray: #dddddd;
    --gray2: #cccccc;
    --body: #ffffff;
    --black: #000000;
    --btn-hover: #2b2d42;

    --completed: #d4edda;
    --notcompleted: #f8d7da;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: var(--body);
}

/* header */
header {
    display: grid;
    grid-template-columns: 50px auto auto;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

header span {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--primary);
}

/* menu  */
.menu {
    background: none;
    border: none;
}

.menu::after {
    content: "☰";
    font-size: 2rem;
    cursor: pointer;
}

.menu.show::after {
    content: "✖";
}

/* nav  */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    background: var(--black);
}

.navigation li {
    padding: 12px;
}

.navigation a {
    text-decoration: none;
    color: var(--light);
    font-weight: 600;
}

.navigation li:hover {
    background: var(--primary);
}

.current {
    background: var(--primary);
}

.current a {
    color: var(--light);
}

/* main  */

main {
    padding: 10px;
}

h1 {
    margin-bottom: 10px;
    color: var(--primary);
    font-weight: bold;
}

h2,
h3,
h4,
h5 {
    text-align: center;
    background-color: var(--black);
    color: var(--light);
    padding: 8px;
    font-weight: bold;
}

h3, h4, h5 {
    font-size: 1.2rem;
}

h6 {
    text-align: start;
    padding: 8px;
    background-color: var(--black);
    color: var(--light);
    font-weight: bold;
    font-size: 1rem;
}

p {
    padding: 8px;
}

/* About section  */
.about-student {
    display: grid;
    gap: 15px;
}

.about,
.student {
    background: var(--gray2);
    border-radius: 6px;
}


.student img {
    width: 200px;
    height: 200px;
    display: block;
    object-fit: cover;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

/* course card  */
.card-container {
    max-width: 800px;
    margin: 20px auto;
    background: var(--light);
    padding: 0 0 10px 0;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    text-align: center;
}

.card-list {
    text-align: start;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px 0;
}

.categories button {
    padding: 8px 14px;
    border: none;
    background: var(--primary);
    color: var(--light);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.categories button:hover {
    background: var(--btn-hover);
    transform: scale(1.05);
}

/* COURSE GRID */

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 12px;
}

.course-card {
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    transition: .3s;
}

.course-card:hover {
    transform: translateY(-5px);
}

.completed {
    background: var(--completed);
}

.not-completed {
    background: var(--notcompleted);
}

/* credits  */
#credits {
    margin-top: 15px;
    background: var(--gray2);
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
}

/* footer  */
footer {
    margin-top: 20px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.social img {
    width: 35px;
}

.copyright {
    background: var(--gray2);
    text-align: center;
    padding: 10px;
}