/* small css file for smaller view  */

:root {
    --text-color: #ffffff;
    --text-color2: #3D405B;
    --bg-color1: #ffffff;
    --bg-color2: #000000;
    --bg-color3: #cccccc;
    --bg-color4: #dddddd;
    --border: #ff4500;
    --wayfinding: #e0e0e0e0;
    --btn-color: #2b2d42;
    --completed: #d4edda;
    --not-completed: #f8d7da;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Verdana, "Geneva", Tahoma, sans-serif;
    background-color: var(--bg-color1);
}

/* header  */
header {
    display: grid;
    grid-template-columns: 24px auto auto;
    padding: 5px 5px 0 10px;
    column-gap: 10px;
    background-color: var(--bg-color1);
}

header img {
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: var(--text-color2);
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-weight: bold;
}

/* nav bar  */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--bg-color2);
}

.navigation ul li {
    text-align: start;
    font-weight: 600;
    padding: 15px 0 10px 10px;
}

.navigation ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--bg-color1);
    display: block;
}

.navigation ul li:hover {
    background-color: var(--text-color2);
    border-bottom: 2px solid var(--border);
}

.navigation ul li a:hover {
    color: var(--bg-color1);
}

.current {
    background-color: var(--text-color2)
}

.menu {
    background: none;
    border: none;
    background-color: var(--bg-color1);
}

.menu::after {
    content: "\2630";
    font-size: 2rem;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    cursor: pointer;
}

.menu.show::after {
    content: "\00D7";
    font-size: 2.5rem;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    cursor: pointer;
}

h1 {
    padding: 10px;
    color: var(--text-color2);
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    text-align: justify;
}

h2,
h3,
h4,
h5 {
    text-align: center;
    color: var(--text-color);
    font-size: 1.3rem;
    padding: 8px;
}

h2,
h3,
h4 {
    background-color: var(--bg-color2);
}

h5 {
    background-color: var(--btn-color);
}

main {
    padding: 5px 5px 0 10px;
    background-color: var(--bg-color1);
}

section {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 12px;
    justify-content: center;
}

section .about,
.student {
    background-color: var(--bg-color3);
}

section .student .image {
    margin: 2rem;
}

section .student img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 100%);
    place-self: center;
}

section .about p {
    padding: 8px;
}

/* main course card container */
.card-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 20px auto;
    background-color: var(--card-bg);
    border-radius: 12px;
    box-shadow: 0 6px 12px var(--bg-color3);
    padding: 0 0 10px 0;
    text-align: center;
}

.card-container h4 {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

/* buttons category  */
.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 20px;
    padding: 8px 60px;
}

.categories,
.card-list {
    padding: 10px;
}

.categories button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background-color: var(--text-color2);
    color: var(--text-color);
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
    font-weight: bold;
}

.categories button:hover {
    background-color: var(--btn-color);
    transform: scale(1.05);
}

/* course card section  */
.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 12px;
}

.course-card {
    padding: 12px;
    border-radius: 8px;
    box-sizing: 0 4px 8px var(--bg-color4);
    text-align: center;
}

.completed {
    background-color: var(--completed);
}

.not-completed {
    background-color: var(--not-completed);
}

.course-card h3 {
    margin: 5px 0;
    font-size: 1rem;
}

.course-card p {
    font-size: 0.85rem;
    margin: 4px 0;
}

/* summary of credit  */
#credits {
    margin-top: 20px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: var(--bg-color3);
    border-radius: 6px;
    color: var(--text-color2);
    font-size: 1rem;
    text-align: center;
}

/* --- footer ----  */
footer {
    background-color: var(--bg-color1);
    display: flex;
    flex-direction: column;
}

footer p {
    font-size: 1.2rem;
    text-align: center;
    padding: 2px 0;
}

.social {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.social a img {
    width: 100%;
    height: auto;
}

footer .copyright {
    display: inline-block;
    line-height: 1.5rem;
    background-color: var(--bg-color3);
    padding: .5rem 0;
}

footer .copyright #currentYear,
footer .copyright #lastModified {
    font-size: 1rem;
    color: var(--text-color2);
    font-weight: 600;
}